* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image:url("../Images/cg.png");
    
}

.container {
    max-width: 1170px;
    margin: auto;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: #000000;
    padding: 15px 15px;
}

header .logo a {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

header .logo a span {
    color: #ee4609;
}

header .nav ul li a.active::before,
header .nav ul li a::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    background-color: #000000;
    opacity: .2;
    transition: width .5s ease;
    z-index: -1;
}

header .nav ul li a:hover::before {
    width: 100%;
}

section {
    margin-top: 40px;
}

/* Add your styles for the Doctor Ratings and Reviews page here */

#reviewForm {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #d44713;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9e594c;
}

.reviews {
    display: block; /* Change from 'flex' to 'block' */
    gap: 20px;
}

.review-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin to create space between cards */
}

.review-card h3 {
    margin: 0 0 10px;
}

.rating {
    font-weight: bold;
    margin: 0 0 5px;
}

.user-review {
    margin: 0;
}

.text{
    color: #fff;
}
